* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.todo-app {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 15px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.button-group {
  display: flex;
  gap: 5px;
}

.delete-btn,
.complete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.complete-btn {
  background-color: #28a745;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

.complete-btn:hover {
  background-color: #218838;
}

del {
  color: #6c757d;
}

.todo-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
